#one{
    margin-left: 80px;
   font-size: 50px;
}
#two{
    padding:18px 10px;
    background-color: rgb(255, 123, 0);
    color: white;
    width: 400px;
margin-left: 80px;
border-radius: 6px;
}
hr{
    width: 1080px;
}
#three{
margin-left: 80px;
}
#four{
    width: 1080px;
}
#five{
    margin-left: 250px;
    margin-top: 40px;
    font-size: 20px;
}
#six{
    margin-left: 280px;
}
#seven{
    margin-left: 250px;
    font-size: 20px;
}
#eight{
    margin-left: 310px;
    font-size: 23px;
}
#nine{
    margin-left: 250px;
    font-size: 20px;
}
#ten{
    margin-left: 250px;
    font-size: 20px;
}
#eleven{
    margin-left: 250px;
    background-color: rgb(223, 181, 126);
    width: 55%;
}
#hy{
    margin-left: 270px;
   padding-top: 20px;
    font-size: 30px;
}
#hello{
    margin-left: 265px;
}
#to{
    margin-left: 50px;
   margin-top: -180px;
}
#be{
    margin-top: 10px;
    margin-left: 280px;
}
#hi{
    margin-left: 500px;
    margin-top: -53px;
}
#ok{
    background-color: rgb(230, 150, 3);
    color: white;
    margin-left: 300px;
    padding: 20px;
    width: 140px;
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#aone{
    margin-left: 280px;
    font-family: cursive;
    font-size: 20px;
}
#atwo{
    margin-left: 280px;
    font-family: cursive;
    font-size: 20px;
}
#athree{
    margin-left: 280px;
    font-family: cursive;
    font-size: 20px;
}
#afour{
    margin-left: 280px;
    font-family: cursive;
    font-size: 20px;
}
#afive{
    margin-left: 280px;
    font-family: cursive;
    font-size: 20px;
}
#name{
    margin-left: 250px;
    font-size: 40px;
}
#abc{
    margin-left: 250px;
    font-size: 20px;
}
#ab{
    margin-left: 250px;
    font-size: 20px;
}
#cd{
    margin-left: 250px;
    font-size: 20px;
}
#ef{
    margin-left: 250px;
    font-size: 20px;
}
#fg{
    margin-left: 250px;
    font-size: 20px;
}
#lm{
    margin-left: 250px;
    font-size: 20px;
}
#mn{
    margin-left: 250px;
    font-size: 20px;
}
#op{
    margin-left: 250px;
    font-size: 20px;  
}
#qp{
    background-color: rgb(245, 191, 110);
    margin-left: 250px;
    width: 55%;
}
#yz{
    padding-left: 270px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding-top: 20px;
}
#nm{
    margin-left: 280px;
}
#ts{
    margin-left: 68px;
}
#sh{
    margin-left: 450px;
    margin-top: -90px;
}
#nd{
    margin-left: 280px;
    margin-top: -50px;
}
#es{
margin-left: 280px;
}
#de{
margin-left: 480px;
margin-top: -33px;
}
#ing{
  background-color: blue;
  color: white;
  margin-left: 310px;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  padding-top: 10px;
  text-align: center;
}
#ml{
    margin-left: 240px;
    font-size: 40px;
}
#le{
    margin-left: 240px;
    font-size: 20px;
}
#en{
    margin-left: 240px;
    font-size: 20px;
}
#me{
    margin-left: 240px;
    font-size: 20px;
}
#so{
    margin-left: 230px;
    font-size: 20px;
}
#ce{
    margin-left: 230px;
    font-size: 20px;
}
#th{
    margin-left: 230px;
    font-size: 20px;
}
#ge{
     margin-left: 230px;
    font-size: 20px;  
}
#as{
    margin-left: 230px;
    font-size: 20px;
}
#esb{
    margin-left: 230px;
    font-size: 20px;
}
#lk{
    background-color: rgb(182, 169, 169);
    margin-left: 220px;
    width: 55%;
    height: 580px;
}
#mq{
    color: black;
    margin-left: 120px;
    font-size: 30px;
    margin-top: 30px;
}
#ed{
margin-top: 10px;
margin-left: -10px;
}
#ca{
    font-size: 30px;
   margin-left: 200px;
}
#rd{
    margin-left: 220px;
}
#hu{
margin-left: 500px;
}
#ke{
    margin-left: 220px;
    font-size: 20px;
}
#gn{
    margin-left: 220px;
    font-size: 20px;
}
#ce{
    margin-left: 220px;
    font-size: 20px;
}
#rn{
    margin-left: 220px;
    font-size: 20px;
}
#ld{
    margin-left: 220px;
    font-size: 20px;
}
#e{
    margin-left: 220px;
    font-size: 20px;
}
#pl{
    margin-left: 200px;
    font-size: 30px;
}
#mu{
    margin-left: 220px;
}
#al{
    margin-left: 220px;
    font-size: 20px;
}
#tsfg{
    margin-left: 220px;
    font-size: 20px;
}
#jn{
    margin-left: 220px;
    font-size: 20px;
}
#nlm{
    margin-left: 220px;
    font-size: 20px;
}
#maindiv{
    margin-left: 50px;
}
#red{
    margin-left: 200px;
    font-size: 30px;
}
#blue{
    margin-left: 220px;
}
#ikom{
    margin-left: 500px;
}
#black{
    margin-left: 500px;
}
#justice{
    font-size: 20px;
    margin-left: 220px;
}
#milki{
    font-size: 20px;
    margin-left: 220px;
}
#lump{
    font-size: 20px;
    margin-left: 220px;
}
#asma{
    font-size: 20px;
    margin-left: 220px;
}
#purii{
    font-size: 20px;
    margin-left: 220px;
}
#job{
    font-size: 30px;
    margin-left: 200px;
}
#and{
    margin-left: 220px;
}
#your{
    margin-left: 500px;
}
#likes{
    font-size: 20px;
    margin-left: 220px;
}
#movement{
    font-size: 20px;
    margin-left: 220px;
}
#intoo{
    font-size: 20px;
    margin-left: 220px;
}
#usesz{
    font-size: 20px;
    margin-left: 220px;
}
#haff{
    font-size: 30px;
    margin-left: 200px;
}
#morethan{
    margin-left: 220px;
}
#hate{
    margin-left: 220px;
    font-size: 20px;
}
#bater{
    margin-left: 220px;
    font-size: 20px;
}
#web{
    margin-left: 220px;
    font-size: 20px;
}
#news{
    margin-left: 220px;
    font-size: 20px;
}
#less{
    font-size: 30px;
    margin-left: 200px;
}
#gold{
    margin-left: 220px;
}
#coton{
    margin-left: 220px;
    font-size: 20px;
}
#reder{
    margin-left: 220px;
    font-size: 20px;
}
#pro{
    margin-left: 220px;
    font-size: 20px;
}
#abyz{
    font-size: 30px;
    margin-left: 200px;
}
#mnqs{
    margin-left: 220px;
}
#olrs{
    margin-left: 500px;
}
#zxcv{
    margin-left: 220px;
    font-size: 20px;
}
#xsw{
    margin-left: 220px;
    font-size: 20px;
}
#nhy{
    margin-left: 220px;
    font-size: 20px;
}
#mjui{
    margin-left: 220px;
    font-size: 20px;
}
#lopk{
    font-size: 30px;
    margin-left: 200px;
}